@import "~bootstrap/dist/css/bootstrap.css";

main > .container {
    padding: 80px 15px 0;
}

.footer {
    background-color: #7cc973;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    & > * {
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }
    }
}
@import "custom.scss";

